<div class="navbar-logo">
  <a href="" routerLink="/"><img class="main-logo" src="./assets/img/logo.png"></a>
</div>
<div class="navbar-wrapper">
  <div class="navbar-left border-dash">
    <a href="" routerLink="/" class="text-white"><h1 class="title">Home</h1></a>
  </div>
  <div class="navbar-middle border-dash">
    <a href="" routerLink="/about" class="text-white"><h1 class="title">About</h1></a>
  </div>
  <div class="navbar-right border-dash">
    <a href="" routerLink="/contact" class="text-white"><h1 class="title">Contact</h1></a>
  </div>
</div>

<div class="home-content-wrapper">
  <div class="home-banner">
    <div class="three-collumn-wrapper border-dash">
      <div class="collumn-left">
        <img class="block-image" src="../../../assets/img/gameplay1.gif">
      </div>
      <div class="collumn-middle">
        <img class="block-image" src="../../../assets/img/gameplay2.gif">
      </div>
      <div class="collumn-right">
        <img class="block-image" src="../../../assets/img/gameplay3.gif">
      </div>
    </div>
  </div>
  <div class="home-features-left border-dash">
    <p class="text-white title2">Gameplay</p>
    <p class="text-white">
      Space Invaders is a fixed shooter in which the player controls a laser cannon by moving it
      horizontally across the bottom of the screen and firing at descending aliens. The aim is to defeat five rows
      of eleven aliens—although some versions feature different numbers.
    </p>
    <a href="" routerLink="/about"><p>Read more...</p></a><br>
    <img class="text-image" src="../../../assets/img/crab.png">
  </div>
  <div class="home-features-middle border-dash">
    <p class="text-white title2">Sequels</p>
    <p class="text-white">
      Space Invaders has been remade on numerous platforms and spawned many sequels. Re-releases
      include ported and updated versions of the original arcade game. Ported versions generally feature different
      graphics and additional gameplay options.
    </p>
    <a href="" routerLink="/about"><p>Read more...</p></a><br>
    <img class="text-image" src="../../../assets/img/cyber.png">
  </div>
  <div class="home-features-right border-dash">
    <p class="text-white title2">Music</p>
    <p class="text-white">
      Despite its simplicity, the music to Space Invaders was revolutionary for the gaming
      industry. Video game scholar Andrew Schartmann identifies three aspects of the music that had a significant
      impact on the development of game music:
    </p>
    <a href="" routerLink="/about"><p>Read more...</p></a><br>
    <img class="text-image" src="../../../assets/img/octopus.png">
  </div>
</div>
